.headings {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFD60A;
}

.movies {
    padding: 20px 32px;
    display: flex;
    align-items: center;
}

.movie-card {
    margin-left: 24px;
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    color: #FFD60A;
    transition: transform 0.5s ease;
    transform-origin: center center;
}

    .movie-card:hover {
        transform: scale(1.1);
    }

.movie-img {
    margin-bottom: 10px;
    height: 350px;
    width: 250px;
}

.movie-card-details {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: normal;
    width: 250px;
}

.dot {
    margin-right: 4px;
    margin-left: 4px;
    height: 6px;
    width: 6px;
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: #FFD60A;
}

.bookk-btn {
    margin-top: 10px;
    padding: 6px 20px;
    background-color: #FFC300;
    border: 1px solid transparent;
    border-radius: 7px;
    color: #001D3D;
    font-size: 16px;
    cursor: pointer;
}

.book-btn:hover {
    background-color: #FFD60A;
    color: #001D3D;
}
